<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <title>test</title>
</head>
<body>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col" style="width: 10%">no</th>
                <th scope="col">이름</th>
                <th scope="col" style="width: 15%">지역</th>
            </tr>
        </thead>

        <tbody>
        <tr th:each="store : ${storeList}">
            <th scope="row" th:text="${storeStat.index + 1}">1</th>
            <td th:text="${store.name}"></td>
            <td th:text="${store.region}"></td>
        </tr>
        </tbody>
    </table>

    <!-- Paging button -->
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item">
                <a class="page-link" th:href="@{/test/test/?page=1}" aria-label="Previous">
                    <span aria-hidden="true">처음</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/test/test/?page={page} (page = ${pagination.prevBlock})}" aria-label="Previous">
                    <span aria-hidden="true">이전</span>
                </a>
            </li>
            <th:block  th:with="start = ${pagination.startPage}, end = ${pagination.endPage}">
                <li class="page-item"
                    th:with="start = ${pagination.startPage}, end = ${pagination.endPage}"
                    th:each="pageButton : ${#numbers.sequence(start, end)}">
                    <a class="page-link" th:href="@{/test/test/?page={page} (page = ${pageButton})}" th:text=${pageButton}></a>
                </li>
            </th:block>
            <li class="page-item">
                <a class="page-link" th:href="@{/test/test?page={page} (page = ${pagination.nextBlock})}" aria-label="Next">
                    <span aria-hidden="true">다음</span>
                </a>
            </li>
            <li class="page-item">
                <a class="page-link" th:href="@{/test/test?page={page} (page = ${pagination.totalPageCnt})}" aria-label="Previous">
                    <span aria-hidden="true">끝</span>
                </a>
            </li>
        </ul>
    </nav>

</body>
</html>