<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/userEdit.css}"
          href="../css/userEdit.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Eat Today</title>
</head>

<body>
<div class="header-title p-5">
    <a class="row" href="/">
        <h3 class="header-title col-10">오늘 뭐먹지</h3>
        <p class="header-title col-2 align-self-center">유저 정보 변경</p>
    </a>
</div>
<div class="m-5" th:object="${memberInfoDetailDto}">
    <h4 class="text-center">개인 정보 변경</h4>
    <div class="edit-sector d-flex flex-column">
        <a href="/auth/editUserPhoto" class="edit-link card mt-5">
            <div class="edit-item card-body row p-4">
                <p class="m-0 col-4 align-self-center" style="color:gray">Photo</p>
                <p class="m-0 col-7 align-self-center"></p>
                <img src="./userTest.png" class="user-img col-1"/>
            </div>
        </a>
        <a href="/auth/editUserNickName" class="edit-link card mt-5">
            <div class="edit-item card-body row p-4">
                <p class="m-0 col-4" style="color:gray">Nickname</p>
                <p class="m-0 col-7 edit-content" th:text="*{nickName}">현재 닉네임</p>
                <i class="m-0 fa-solid fa-arrow-right col-1 fa-lg align-self-center"></i>
            </div>
        </a>
        <a href="/auth/editUserPhoneNumber" class="edit-link card mt-5">
            <div class="edit-item card-body row p-4">
                <p class="m-0 col-4 " style="color:gray">Phone</p>
                <p class="m-0 col-7 edit-content" th:text="*{phoneNumber}">현재 연락처</p>
                <i class="m-0 fa-solid fa-arrow-right col-1 fa-lg align-self-center"></i>
            </div>
        </a>
        <a href="/auth/editUserPassword" class="edit-link card mt-5">
            <div class="edit-item card-body row p-4">
                <p class="m-0 col-4 " style="color:gray">패스워드 변경</p>
            </div>
        </a>
    </div>
</div>
</body>

</html>