<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <div th:replace="~{fragment/config :: config}"/>
    <title>Login</title>

    <style>
        .content-size {
            max-width: 560px;
        }
        /*.container {*/
        /*    max-width: 560px;*/
        /*}*/
        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>

        <!-- 헤더 -->
        <div th:replace="${memberInfoDto} ? ~{fragment/header :: header-login(${memberInfoDto})} : ~{fragment/header :: header-not-login}">Header</div>


        <!-- 콘텐츠 -->
        <div class="container content-size" max-w>
        <!-- title -->
            <div class="py-5 text-center">
                <h2 th:text="#{page.login}"> 로그인</h2>
            </div>

            <main class="form-signin w-100 m-auto">
                <form action="auth/login" th:action th:object="${loginFormDto}" method="post">

                    <!--<img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->

                    <div th:if="${#fields.hasGlobalErrors()}">
                        <p class="field-error" th:each="err : ${#fields.globalErrors()}"
                           th:text="${err}">전체 오류 메시지</p>
                    </div>


                    <h1 class="h3 mb-3 fw-normal" th:text="#{page.login}">로그인</h1>

                    <div class="form-floating">
                        <input class="form-control" id="floatingInput" placeholder="name@example.com"
                                th:field="*{memberEmail}" th:errorClass="field-error">
                        <label for="floatingInput" th:text="#{userInfo.id}">Email address</label>
                    </div>
                    <div class="form-floating">

                        <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                                th:field="*{memberPw}" th:errorclass="field-error">
                        <label for="floatingPassword" th:text="#{userInfo.password}">비밀번호</label>
                    </div>

                    <div class="checkbox mb-3">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="w-100 btn btn-lg btn-primary" type="submit">Login</button>
                    <p class="mt-5 mb-3 text-muted">&copy; 2017–2022</p>
                </form>
            </main>
        </div>

        <!-- 푸터 -->
        <div th:replace="~{fragment/footer :: footer}">footer</div>
</body>
</html>