<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<head>
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="../css/headers.css" rel="stylesheet">
</head>
<body>

<main th:fragment="header">
    <h1 class="visually-hidden">Headers examples</h1>
    <header class="p-3">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
                </a>

                <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                    <li><a href="/recommendation" class="nav-link px-2 link-dark">식사 추천</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">게시판</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">Contact</a></li>
                    <li><a href="#" class="nav-link px-2 link-dark">About</a></li>
                </ul>

                <div class="text-end">
                    <a href="/auth/login" th:href="@{/auth/login}" class="btn me-2 btn-primary" role="button">로그인</a>
                    <a href="/auth/register" th:href="@{/auth/register}" class="btn btn-warning" role="button">회원가입</a>
                </div>
            </div>
        </div>
    </header>

</main>


<!--<script src="../assets/dist/js/bootstrap.bundle.min.js"></script>-->


</body>
</html>