<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="./recommendationResult.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>EatToday</title>
</head>

<body>
    <!--NavBar-->
    <div th:replace="${member} ? ~{fragment/header :: header-login} : ~{fragment/header :: header-not-login}">NavBar</div>

    <div class="container mt-5" th:object="${recommendationResult}">
        <h3 th:text="|오늘은, *{divisionTwo} 어때요?|"></h3>
        <div class="container row recommendation-info shadow-sm mt-5 p-5 th:ob">
            <div class="col-7 menu-desc">
                <div class="store-title">
                    <h5 th:text="*{name}">식당 이름</h5>
                </div>
                <div class="store-desc mt-4">
                    <div class="location">
                        <i class="fa-sharp fa-solid fa-location-dot me-2"></i>
                        <span th:text="*{lotAddress}">Location</span>
                    </div>

                    <div th:if="${not #strings.isEmpty(recommendationResult.phoneNumber)}">
                        <i class="fa-solid fa-phone mt-3 me-1"></i>
                        <span th:text="*{phoneNumber}? *{phoneNumber} : null">010-0000-0000</span>
                    </div>
                    <div class="menu mt-5" th:if="${not #lists.isEmpty(recommendationResult.menuList)}">
                        <p class="mb-1">Menu</p>
                        <li th:each="menu : *{menuList}" th:text="|${menu.name} ${menu.price}">메뉴리스트</li>
                    </div>
                </div>
            </div>
            <div class="col-5 menu-img bg-secondary">
                <img src="" class="store-img">
            </div>
        </div>
        <div id="map" class="container bg-secondary mt-5"></div>
    </div>

    <!--개발시 APP KEY 숨겨야함(메시지로)-->
    <script type="text/javascript"
    src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b880d55870754431f0fedf7f011061fc"></script>
    <script src="./recommendation.js"></script>

</body>

</html>