<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/bootstrap.min.css}"
          href="../css/bootstrap.min.css" rel="stylesheet">
    <link th:href="@{/css/recommendationResult.css}"
          href = "../css/recommendationResult.css" rel="stylesheet">
    <link th:href="@{/css/reviewForm.css}" href = "../css/recommendationResult.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!--개발시 APP KEY 숨겨야함(메시지로)-->
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b880d55870754431f0fedf7f011061fc"></script>

    <title>EatToday</title>
</head>

<body>
    <!--NavBar-->
    <div th:replace="${member} ? ~{fragment/header :: header-login} : ~{fragment/header :: header-not-login}">NavBar</div>

    <div class="modal" th:object="${recommendationResult}">
        <div class="modal-body">
            <h4>리뷰남기기</h4>
            <form class="review-container" th:action="@{/review/add}">
                <div class="review-content justify-content-center">
                    <p class="mt-5 mb-0" th:text="*{name}">상점 이름</p>
                </div>
                <div class="review-content justify-content-center">
                    <p class="mt-2 mb-4" th:if="${member} != null" th:text="${member.nickName}">멤버 이메일</p>
                </div>
                <div class="review-content mt-2" style="flex-direction: column;">
                    <textarea class="content" style="width: 100%;" maxlength="255"></textarea>
                    <div class="count">0/255</div>
                </div>
                <div>
                    <input type="hidden" th:name="member" th:value="${member}">
                    <input type="hidden" th:name="store" th:value="${store}">
                </div>
                <div class="review-content mt-5">
                    <input type="submit" class="btn btn-success submit-btn" onkeyup="check_length">
                </div>

            </form>
        </div>
    </div>

    <div class="container mt-5" th:object="${recommendationResult}">
        <h3 th:text="|오늘은, *{divisionTwo} 어때요?|"></h3>
        <div class="container row shadow-sm mt-5 p-5">
            <div class="col-6 menu-desc">
                <div class="store-title">
                    <h5 th:text="*{name}">식당 이름</h5>
                </div>
                <div class="store-desc mt-4">
                    <div class="location">
                        <i class="fa-sharp fa-solid fa-location-dot me-2"></i>
                        <span th:text="*{lotAddress}">Location</span>
                    </div>

                    <div th:if="${not #strings.isEmpty(recommendationResult.phoneNumber)}">
                        <i class="fa-solid fa-phone mt-3 me-1"></i>
                        <span th:text="*{phoneNumber}? *{phoneNumber} : null">010-0000-0000</span>
                    </div>
                    <div class="menu mt-5" th:if="${not #lists.isEmpty(recommendationResult.menuList)}">
                        <p class="mb-1">Menu</p>
                        <ul class="list-group">
                            <li class="menu-item row" th:each="menu : *{menuList}">
                                <p class="col-5" th:text="${menu.name}">메뉴 이름</p>
                                <p class="col-7" th:text="${menu.price}">가격</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-6 review-container">
                <h5>방문자 리뷰</h5>
                <ul class="list-group mt-5">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                    <li class="list-group-item">A fourth item</li>
                </ul>
                <div class="d-flex justify-content-end mt-3">
                    <button type="button" class="btn btn-secondary me-3">더보기</button>
                    <button type="button" class="btn btn-dark btn-open-popup" th:member="${member}"
                            th:onclick="popUpModal(this.getAttribute('member'))">
                        리뷰 남기기
                    </button>
                </div>
            </div>
<!--            <div class="col-5 menu-img bg-secondary">-->
<!--                <img src="" class="store-img">-->
<!--            </div>-->
        </div>
        <div class="map-container mt-3">
            <div id="map">
                <script th:inline="javascript">
                    let recommendationResult = [[${recommendationResult}]]
                    console.log(recommendationResult);

                    var locPosition = new kakao.maps.LatLng(recommendationResult.latitude, recommendationResult.longitude);
                    var message = '<div style="padding:5px" th:text="${recommendationResult.name}">식당 위치</div>';

                    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                        mapOption = {
                            center: locPosition, // 지도의 중심 좌표
                            level: 2 // 지도의 확대 레벨
                        };

                    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다.



                    function displayMarker(locPosition, message) {
                        // 마커를 생성합니다.
                        var marker = new kakao.maps.Marker({
                            map: map,
                            position: locPosition
                        });

                        var iwContent = message, // 인포윈도우에 표시할 내용
                            iwRemovable = true;

                        // 인포 윈도우를 생성합니다.
                        var infowindow = new kakao.maps.InfoWindow({
                            content : iwContent,
                            removable : iwRemovable
                        });

                        // 인포윈도우를 마커위에 표시합니다.
                        infowindow.open(map, marker);

                        // 지도 중심좌표를 접속위치로 변경합니다.
                        map.setCenter(locPosition);
                    }

                    displayMarker(locPosition, message);

                </script>
            </div>
        </div>
    </div>

    <script th:src="@{/js/recommendation.js}" src="./recommendation.js"></script>
    <script th:src="@{/js/reviewForm.js}" src="./reviewForm.js"></script>
</body>

</html>